body{
	font-family:  'Arial', 'Helvetica Neue', Helvetica, sans-serif;
	font-size: 18px;
    text-align: center;
    background: #777;
	color: #ebebeb;
	margin: auto;
	width: 960px;
	padding:10px;
}

header, nav, footer {
	background:white;
	color:#777;
  	width: 920px;
  	padding:20px;
  	margin-bottom: 10px;
  	height: 40px;

}

section, aside{
	background-color: white;
  	color:#777;
  	height: 250px;
  	border: 1px solid #eee;
  	margin-top: 10px;
	margin-bottom: 20px;
	padding-top: 30px;
	padding-bottom: 0;

}
section{
	float:left;
	width:495px; 
}
article{
	/*padding-bottom: 70px;*/
	color:white;
	height: 170px;
	text-align: center;
	background-color: #777;
	line-height: 200%;
  	width:470px;
  	margin:30px auto 15px;
  	padding-top: 20px;

}
.headers{
	text-align: center;
	height: 30px;
	background-color: white;
  	color:#777;
  	width:400px;
  	margin: 10px auto 10px;
  	padding:10px;
  	font-size: 18px;
}
aside{
  	width:440px;
  	float:left;
  	margin-left: 20px;
}


footer{
	clear:both;
	overflow: auto;
}